GitHub repositories should have Dependabot scanning enabled/Logic App/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Enable_Dependabot": {
            "defaultValue": "Enable_Dependabot",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Enable_Dependabot')]",
            "location": "[resourceGroup().location]",
            "properties": {
            "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "HTTP": {
                            "inputs": {
                                "headers": {
                                    "Accept": "application/vnd.github+json ",
                                    "Authorization": "token {PAT-TOKEN}"
                                },
                                "method": "PUT",
                                "uri": "https://api.github.com/repos/@{variables('org_name')}/@{variables('repo_name')}/vulnerability-alerts"
                            },
                            "runAfter": {
                                "set_org_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "initialize_org_name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "org_name",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "initialize_repo_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "initialize_repo_name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "repo_name",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "set_org_name": {
                            "inputs": {
                                "name": "org_name",
                                "value": "@{first(skip(split(triggerBody()?['properties']?['resourceDetails']?['id'],'/'),10))}"
                            },
                            "runAfter": {
                                "set_repo_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable"
                        },
                        "set_repo_name": {
                            "inputs": {
                                "name": "repo_name",
                                "value": "@{first(skip(split(triggerBody()?['properties']?['resourceDetails']?['id'],'/'),12))}"
                            },
                            "runAfter": {
                                "initialize_org_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {},
                    "triggers": {}
                }
            }
        }
    ]
}